.button {
    background-color: #3E454B;
    color: white;
    font-weight: 100;
    font-size: 0.8rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    letter-spacing: 1px;
    margin:auto;
    width: 14vw;
    &:hover {
      background-color: #ff9b00;
      color:  #0E161E;
      cursor: pointer;
      transition: all .4s;
    }
  }